aiohttp==3.7.4
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.3.0
autoit==0.1
Automat==0.6.0
beautifulsoup4==4.6.0
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
chromedriver==2.24.1
click==7.1.1
colorama==0.4.3
configobj==5.0.6
configparser==4.0.2
constantly==15.1.0
crayons==0.3.0
cryptography==3.3.2
cycler==0.10.0
decorator==4.0.11
discord.py==1.3.3
ez-setup==0.9
filetype==1.0.5
Flask==1.1.1
html5lib==0.999999999
httplib2==0.19.0
hyperlink==17.3.1
idna==2.9
idna-ssl==1.1.0
imageio==2.1.2
incremental==16.10.1
instagram-private-api==1.6.0.0
instagram-private-api-extensions==0.3.8
instapy-cli==0.0.12
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.1.1
moviepy==0.2.3.2
multidict==4.7.5
mysql-connector==2.2.9
numpy==1.18.2
oauthlib==2.0.6
pandas==0.25.3
Pillow==8.2.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.4.4
PyQt5==5.13.2
PyQt5-sip==12.7.0
pyserial==3.4
python-dateutil==2.8.1
python-debian==0.1.32
python-instagram==1.3.2
pytz==2019.3
pyxdg==0.25
PyYAML==5.4
requests==2.23.0
requests-unixsocket==0.1.5
scipy==1.4.1
scour==0.36
SecretStorage==2.3.1
selenium==3.141.0
service-identity==16.0.0
simplejson==3.17.0
sip==4.19.8
six==1.14.0
systemd-python==234
tabulate==0.8.5
texttable==1.6.2
tqdm==4.11.2
Twisted==22.10.0
typing-extensions==3.7.4.2
urllib3==1.26.5
webdriver-manager==2.3.0
webencodings==0.5
websockets==9.1
Werkzeug==1.0.0
yarl==1.4.2
zope.interface==4.3.2
