@import "../variables";
html {
    height: 100%;
}

.home::after {
    content: "";
    background: url('boat.jpg') no-repeat center center fixed;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.home {
    padding-top: 1em;
    font-size: 30px;
    color: $gray;
    text-shadow: 1px 1px $black;
    font-family: 'Questrial', sans-serif;
    margin: 0;
    background-color: #B0B2B8;
    background-color: rgba(255,255,255,.1);
    font-weight: 400;

    h1, h3 {
        font-family: 'Questrial', sans-serif;
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 60px;
        margin: 0
    }

    .info {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    form {
        margin: 0 auto;
        width: 50%;
        padding: 1em;
        box-shadow: 2px 4px 10px $black;
        overflow: hidden;
        display: inline-block;
        text-align: center;
        position: relative;
        color: white;
        background-color: #BDC7DF;
        background: #80838E;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    form li + li {
        margin-top: 1em;
    }

    label {
        width: 300px;
        padding-bottom: .4em;
        display: inline-block;
    }

    ::placeholder {
        color: $black;
        opacity: 1;
    }
    
    input {
        font: 1em 'Questrial', sans-serif;
        width: 60% !important;
        padding: .5em .5em .2em .5em;
        margin: .1em;
        margin-right: 12px !important;
        background: rgba(255,255,255,.6);
        background: transparent;
        background: transparent;
        border-bottom: 1px solid #000000;
        border: 2px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }

    input:focus {
        border-color: #000;
        caret-color: #000;
    }

    button {
        font-size: 28px;
        padding: .2em;
        margin-top: .7em;
        margin-right: .5em;
        margin-bottom: -2em;
        border-radius: 10px;
        border-color: $black;
        border-width: thin;;
        position: relative;
        background: transparent;
    }

    button {
        color: $black !important;
        border-color: $black;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px;
        border-radius: 4px;
        display: inline-block;
        transition: all 0.4s ease 0s;
        border: none;
        border-style: none;
        border: thin;
        font-size: 24px;
    }

    button:hover {
        background: $gray;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }

    textarea:focus, select:focus{
        color: #80838E;
    }

    input[type=number], select:focus{
        color: #80838E;
    }

    @media only screen and (max-height: 800px) {
        body {
            font-size: 24px;
        }
    }

    @media only screen and (max-height: 400px) {
        body {
            font-size: 20px;
        }
    }
}