header {
    max-height: 50px !important;
.is-primary, .is-success {
     background-color: hsl(217, 71%, 53%)!important;
}

.is-primary:hover, .is-success:hover {
    background-color: hsl(225, 71%, 53%)!important;
}

img {
    height: 55px;
}
}