@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Arimo|Nunito|Nunito+Sans|Questrial|Quicksand&display=swap');
$black: #0D0D0D;
$white: #f8f8f8;
$gray: #595959;
$off-white: #B3B3B3;
$navy: #060637;
$red: rgb(226, 60, 60);
